doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title enchantの練習
  body
    h1.sitettl Jadeをやります
    main.main
      h2.content_ttl enchanctjsをやります